// .backdrop{
//     background-color: rgba(0, 0, 0, 0.5);
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     right: 0;
//     display: none;
// }
.wrapper {
  background: #fff;
  width: 100vw;
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 10;
  p {
    color: black;
  }
}
